{% extends 'base.html' %}

{% block title %}Population Manager{% endblock %}

{% block content %}
<!-- Tabela com as populações -->
<div class="bg-white dark:bg-gray-900 shadow rounded-lg p-8 relative" style="margin-bottom: 20px;">
    <div class="flex items-center justify-between mb-6">
        <h2 class="text-5xl font-bold text-gray-900 dark:text-white text-center">Population Manager</h2>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Population ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Population Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Population Size
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                        <span class="sr-only display-flex gap-2">Edit</span>
                        <span class="sr-only display-flex gap-2">View</span>
                        <span class="sr-only display-flex gap-2">Delete</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for pop in populations %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ pop['id'] }}
                    </th>
                    <td class="px-6 py-4">
                        {{ pop['name'] }}
                    </td>
                    <td class="px-6 py-4">
                        {{ pop['population_size'] }}
                    </td>
                    <td class="px-6 py-4 text-right">
                        <div class="flex justify-end items-center gap-3">
                            <a href="{{ url_for('api.list_individuals', population_id=pop.id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            <a href="{{ url_for('api.index', population=pop.id) }}" class="font-medium text-blue-600 dark:text-white hover:underline">View</a>
                            <form method="POST" action="/delete/population/{{ pop.id }}" onsubmit="return confirmDelete()">
                                <button type="submit" class="font-medium text-blue-600 dark:text-red-500 hover:underline">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% else %}
                {# Mensagem caso não haja populações salvas #}
                <tr class="bg-white dark:bg-gray-800">
                    <td colspan="8" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">
                        No populations found.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="bg-white dark:bg-gray-900 shadow rounded-lg p-8 relative" style="margin-top: 20px;">
    <div class="flex items-center justify-between mb-6">
        <h2 class="text-5xl font-bold text-gray-900 dark:text-white text-center">Create a Population</h2>
    </div>
    <form action="/populations" method="post">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="population_name" class="block mb-2 text-sm text-darkblue dark:text-white">Population name</label>
                    <input name="name" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type your population name here" required />
                </div>
        
            </div>
            <div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-900 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                Submit
                </button>
            </div>
    </form>

</div>
{% endblock %}
