{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
        <div>
            <div class="container py-12 px-4 text-center">
                <p class="para_outline">Fish Individuals Manager</p>
                <p class="text-lg text-darkblue mt-4">Manage your Fishes below</p>
            </div>
            
            <!-- Criar populações -->
            <div class="justify-center flex gap-4 mt-8">
                
                <form action="/populations" method="post">
                    <div class="grid gap-6 mb-6 md:grid-cols-2">
                        <div>
                            <label for="population_name" class="block mb-2 text-sm font-bold text-darkblue dark:text-white">Population name</label>
                            <input name="name" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Acqua Group" required />
                        </div>
                
                    </div>
                    <div>
                        <button type="submit" class="bg-gray-900 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                        Submit
                        </button>
                    </div>
                </form>
            </div>

        </div>

{% endblock %}
